[submodule "src/utils"]
	path = src/utils
	url = https://github.com/koobh/ptUtils
[submodule "src/UNet"]
	path = src/UNet
	url = https://github.com/kooBH/UNet.git
[submodule "src/mpSE"]
	path = src/mpSE
	url = https://github.com/kooBH/mpSE.git
[submodule "src/MTFAA"]
	path = src/MTFAA
	url = https://github.com/kooBH/MTFAA.git
[submodule "src/Lite-RTSE"]
	path = src/Lite-RTSE
	url = https://github.com/kooBH/Lite-RTSE.git
[submodule "src/ULCNet"]
	path = src/ULCNet
	url = https://github.com/kooBH/ULCNet.git
